# Ignorar arquivos e pastas específicos do Node.js
node_modules/
.env
.env.local
.env.*.local
dist/
build/
.next/ # Para projetos Next.js, se aplicável
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm/
*.tgz
.yarn-integrity
.cache/
.pnp/
.pnp.js
*.env
shared_data/json_exports/

# Ignorar arquivos e pastas específicos do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python/
env/
venv/
*.egg-info/
.pytest_cache/
.ipynb_checkpoints/ # Para notebooks Jupyter, se aplicável
celerybeat-schedule
.vscode/ # Configurações do VS Code (opcional, pode ser útil versionar algumas)
.mypy_cache/
.tox/
.coverage
.ruff_cache/ # Cache do Ruff (linter/formatter)

# Ignorar arquivos específicos do macOS
.DS_Store
.AppleDouble
.LSOverride

# Ignorar arquivos específicos do Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Ignorar arquivos gerados pelo Docker
*.log
*.tmp
.dockerignore # O .dockerignore em si não é ignorado, mas os arquivos que ele ignora sim
!Dockerfile* # Não ignorar Dockerfiles
!.dockerignore # Não ignorar o próprio .dockerignore
# Arquivos de volume de dados (se estiverem na raiz e não dentro de shared_data)
# Mantenha os volumes Docker (mongodb_data, etc) fora do gitignore se eles forem gerenciados pelo docker-compose.yml
# e não diretamente no sistema de arquivos para serem ignorados.

# Ignorar pastas de dados geradas e temporárias
shared_data/json_exports/    # Exports brutos do Tenable
shared_data/generated_reports/ # Relatórios PDF e LaTeX compilados
!shared_data/report_templates/ # NÃO ignorar os templates LaTeX e JSON de descrição em si

# Ignorar arquivos de compilação LaTeX
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.toc
*.dvi
*.log
*.fdb_latexmk
*.fls
*.synctex.gz
*.vrb
*_minted*.pyg